{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <!-- Add your code in the line below  -->
    <h1> <!--Add title here --> </h1>

    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <form id="booking-form">
          {% csrf_token %}
          {{form.as_p}}
            <input type="submit" id="button">
        </form>
      </div>
      <!--End col-->

      <!--Begin col-->
        
<div class="column">
    <div class="videowrap">
        <table id="guest-table" width="100%" style="border-collapse: collapse; text-align: center;">
            <thead>
                <tr>
                    <th colspan="2" style="border-bottom: 1px solid #ddd;" id="bookings">Bookings For</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" style="padding: 20px;">No Bookings to show</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    <!--End row-->

    <script>
        // Variables declaration
        let endpoint = '/book/';
        let rawData;
        
        
        const headers = {
            'Accept': 'application/json', 
            'Content-Type': 'application/json'
        };
        
        // Function definitions
        function myalert(message) {
            alert(message)
        }
        
        async function callBookingAPI(payload) {
            try {
                let response = await fetch(endpoint, {
                    method: 'POST',
                    headers: headers,
                    body: payload
                });
                rawData = await response.text();
                return rawData;
            } catch (error) {
                rawData = error.message;
                console.log('Network error:', error.message);
                return error;
            }
        }
        
        async function tryBooking() {
            try {
                first_name = document.getElementById('id_first_name').value
                reservation_date = document.getElementById('id_reservation_date').value
                reservation_slot = document.getElementById('id_reservation_slot').value
                
                const payload = JSON.stringify({
                    "first_name": first_name,
                    "reservation_date": reservation_date,
                    "reservation_slot": reservation_slot,
                });
                
                let bookingstatus = await callBookingAPI(payload) 
                if (JSON.parse(bookingstatus)['success']){
                    myalert('Booking Successful')
                } else {
                    myalert('Sorry, booking failed!')
                }
            } catch (error) {
                console.error(error)
            }
        }
        
        // Event listener
        const submitButton = document.getElementById('button');
        submitButton.addEventListener('click', async (event) => {
            event.preventDefault();
            await tryBooking();
            form = document.getElementById('booking-form')
            form.reset()
            
            
        });
    </script>
        
 </article>
</section>
<!-- Add your code inside the script tags below  -->
<script src="{% static 'js/myscript.js' %}"></script>
{% endblock %}

