{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <!-- Add your code in the line below  -->
    <h1>Welcome <span id="username" style="text-decoration: none"></span>!</h1>

    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <form id="booking-form">
          {% csrf_token %}
          {{form.as_p}}
            <input type="submit" id="button">
        </form>
      </div>
      <!--End col-->

      <!--Begin col-->
<div class="column">
    <div class="videowrap">
        <table id="guest-table" width="100%" style="border-collapse: collapse; text-align: center;">
            <thead>
                <tr>
                    <th colspan="2" style="border-bottom: 1px solid #ddd;" id="bookings">Bookings For</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2" style="padding: 20px;">No Bookings to show</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    <!--End row-->

        
 </article>
</section>
<!-- Add your code inside the script tags below  -->
<script src="{% static 'js/book.js' %}" defer></script>
    <script src="{% static 'js/myscript.js' %}"></script>
{% endblock %}

